*.fa
smoove-tmp*/
tempclean*/
tests
*.bam
*.gff.*
*.gff3*
*.csi
*.tbi
*.bai
*.crai
ash-bcbio
*.cram
*.fa
*.vcf
*.vcf.gz
*.bcf
root/
htslib/
samtools/
bcftools/
data/
ssc-crams/
*.bedpe
lumpy-sv
*.root
*.bedpe
*.histo
*.fai
*.cnvnator
*.txt
*.gz
*.fa
*-cmd.sh
*.gff.gz
*.gff3.gz
*.gff
*.bai
tmp.*
CHM/
*.crai
*.bam
*.vcf.gz
*.tbi
*.csi
*.vcf
*.bedpe
*.bam
*.histo
*.fai
*.lib
*.cnvnator
*.root
data/
